/* SEMANTIC UI RULES OVERRIDE */

h2:first-child {
  margin-top: auto;
}

/* MAIN STYLES */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.body {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.nav {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  background-color: #163A5F;
}

.main {
  grid-column: 1 / -1;
  grid-row: 2 / 6;
  overflow: scroll;
}

.footer {
  grid-column: 1 / -1;
  grid-row: 6 / 7;
  background-color: #163A5F;
}

body>* {
  color: white;
  text-align: center;
}

/* NAV TOP */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  margin-right: 3%;
}

.links a {
  color: #5FCC9C;
  font-size: 1.5rem;
}

.money-budgeted {
  background-color: #5FCC9C;
  width: 15%;
  height: 100%;
  color: #163A5F;
  text-align: center;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CATEGORIES BAR */

#categories-header {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

/* TABLE */

.expense-category {
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr)
}

.fa-minus-square {
  color: red;
  grid-column: 12/13;
}

.remove-icon {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-btn {
  background-color: #5FCC9C;
  color: #163A5F;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.3rem;
}