:root {
  /* Base font size */
  font-size: 10px;
  /* Full grid area variable */
  --fullGrid: 1 / 1 / -1 / -1;
}

/* VIDEO */

header {
  /* Create grid spanning viewport width & height */
  grid-column: 1/-1;
  grid-row: 1/1;
  display: grid;
  grid-template-rows: 100vh;
  overflow: hidden;
  color: white;
}

header h1 {
  font-size: 4rem;
}

.video-bg {
  /* Span the full grid */
  grid-area: var(--fullGrid);
  /* Re-size video to cover full screen while maintaining aspect ratio */
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  /* Display video below overlay */
  z-index: -1;
}

.video-bg::-webkit-media-controls {
  display: none !important;
}

.video-overlay {
  /* Span the full grid */
  grid-area: var(--fullGrid);
  /* Center Content */
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  /* Semi-transparent background */
  background-color: rgba(0, 0, 0, 0.055);
}

/* GRID */

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-rows: repeat(12, minmax(100px, 1fr)); */
}

nav {
  grid-column: 1/-1;
  grid-row: 1/1;
}

/* GENERAL STYLES */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  margin: 50px
} */