/* GENERAL STYLES */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  /* Base font size */
  font-size: 10px;
  /* Full grid area variable */
  --fullGrid: 1 / 1 / -1 / -1;
}

/* NAVIGATION */

.mdl-layout__header,
.mdl-layout__drawer-button {
  color: white;
}

/* VIDEO */

header {
  /* Create grid spanning viewport width & height */
  grid-column: 1/-1;
  display: grid;
  grid-template-rows: 100vh;
  overflow: hidden;
  color: white;
}

header h1 {
  font-size: 4rem;
}

.video-bg {
  /* Span the full grid */
  grid-area: var(--fullGrid);
  /* Re-size video to cover full screen while maintaining aspect ratio */
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  /* Display video below overlay */
  z-index: -1;
}

.video-bg::-webkit-media-controls {
  display: none !important;
}

.video-overlay {
  /* Span the full grid */
  grid-area: var(--fullGrid);
  /* Center Content */
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  /* Semi-transparent background */
  background-color: rgba(0, 0, 0, 0.055);
}

/* GRID */

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: max-content;
}

nav {
  grid-column: 1/-1;
}

/* GET STARTED */

.getStarted-section {
  grid-column: 1/-1;
  text-align: center;
}

.getStarted-section h2 {
  font-size: 3rem;
}

.getStarted-section h3 {
  font-size: 2rem;
}

/* THREE STEPS */

.three-steps {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
  padding-bottom: 25px;
}

.mdl-card {
  width: 30%;
  height: 35vh;
}

.mdl-card__title {
  border-bottom: 1px lightgrey solid;
  background: url('https://media.giphy.com/media/PFF62vzZb32jC/giphy.gif') no-repeat center;
  background-size: cover;
}

.mdl-card .mdl-card__supporting-text {
  font-size: 1.8rem
}

/* form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  margin: 50px
} */